<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

  </head>

   <body>

    <div class="site-wrapper">
    <div class="site-wrapper-inner">

    <video autoplay loop>
        <source src="{{ url_for('static', filename='bg-video.mp4') }}" type="video/mp4">
    </video>

    <div class="home-page-hero_bg-anim" style="opacity: 0.5;"> </div>

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand"><i>Simple</i></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link {% block welcome_active %} {% endblock %}" 
                href="{{ url_for('welcome') }}">Home</a>
            <a class="nav-link {% block page1_active %} {% endblock %}" href="{{
                url_for('page', page_id=1) }}">Calculate</a>
            <a class="nav-link {% block page2_active %} {% endblock %}" href="{{
                url_for('page', page_id=2) }}">Batch Calculate</a>
            <a class="nav-link {% block page3_active %} {% endblock %}" href="{{
                url_for('page', page_id=3) }}">Help</a>
          </nav>
        </div>
      </header>

      {% block main_content %}
      {% endblock main_content %}

      <footer class="mastfoot">
        <div class="inner">
            <p><i>Simple</i>, a financial computing toolkit by Xiu Di,
            Wenhan Huang, Xiang Li, Chao Liao, Hongyang Liu and Qingyi Liu.</p>
        </div>
       </footer>

    </div>
  </div>
</div>

  </body>
</html>

