{% extends "layout.html" %}

{% block title %}
Batch Calculation
{% endblock %}

{% block page2_active %}
active
{% endblock %}

{% block main_content %}
	{% if error %}
		<li><em>{{ error }}</em></li>
	{% endif %}
	<main role="main" class="inner cover">
	</main>
		<p class="lead"></p>
		<div align="left">
			<form action="{{ url_for('query', page_id=2)}}" method="post" enctype="multipart/form-data">
				<table cellpadding="5">
					<tr>
					<td> Uploading Json File: </td>
					<td> <input type=file name=file> </td>
					<td> <input type=submit value="Upload!"> </td>
					</tr>
				</table>
			</form>
		</div>
	{% if results %}
		<table border="1" cellpadding="5">
			<tr>
				<td> ID </td>
				<td> Yield(y) </td>
				<td> Duration(d) </td>
				<td> Convexity(c) </td>
			</tr>
			{% for result in results %}
			<tr>
				<td> {{ result['id'] }} </td>
				<td> {{ result['y'] }} </td>
				<td> {{ result['d'] }} </td>
				<td> {{ result['c'] }} </td>
			<tr>
			{% endfor %}
		</table>
		<p href=" {{ url_for("download", filename=resultfilename)}} "> </p>
	{% endif %}
{% endblock %}
